#bookpage-container{
    background-color: rgb(244,244,244);
    position: relative;
    width:100%;
}
#slider-container{
    width:52%;
}
#image-slider{
    position: relative;
    overflow: hidden;
}
#image-slider>img{
    width:100%;
    height:520px;
    border-radius: 10px;
}
.left-arrow{
    position: absolute;
    top: 40%;
    left: -43;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 0;
}
.left-arrow>i{
    font-size: 30px;
    margin-top: 23px;
    margin-left: 43px;
    color: white;
}
.right-arrow{
    position: absolute;
    top: 40%;
    right: -40;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    z-index: 1;
    width: 80px;
    height: 80px;
    border: 0;
    text-align: center;
}
.right-arrow>i{
    font-size: 30px;
    margin-top: 23px;
    margin-right: 25px;
    color: white;
}

#all-photos{
    position:absolute;
    padding:10px 12px;
    left: 80%;
    bottom: 20;
    font-size: 13px;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.323);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 30px;
}
#all-photos:hover{
    background-color: rgba(0, 0, 0, 0.707);


}
#all-photos::before{
    
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/gallary_icon.webp);
    background-size: cover;
}
#all-photos::after{
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/right_icon_white.png);
    background-size: cover;

}


#booking-details-container{
    width:23%;
    position: absolute;
    right: 10;
    top:10;
    height:480px;
    border-radius: 5px;
    background-color: white;
}
#booking-details-container>h5{
    margin: 0px;
    padding: 12px 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}
.select-date{
    width:100%;
    margin-top: 10px;
    height: 92px;
    /* overflow: scroll;   */
}
.select-date-label{
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #202020;
}
.calender{
    width:93%;
    margin: auto;
    box-shadow: 2px 2px 25px 2px rgb(236,236,236);   
}
.month{
    width:13%;
    padding:10px 0px 10px 10px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(43,152,247);
}
.month>span{
    background-color: #0b5b8f;
    color: white;
    margin-top: 5px;
    font-size: 8px;
    padding:2px 6px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.month>img{
    margin-top: 6px;
    width:30px;
    height: 35px;
}
.days{
    width: 81%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}
.days>i{
    display: inline-block;
}
.days>div{
    display: inline-block;
}

.dates{
    width:84%;
    vertical-align: middle;
    overflow-x: scroll;
}
.dates::-webkit-scrollbar{
    display: none;
}
.dates>ul{
    padding: 0;
    list-style: none;
    display: table;
}
.dates>ul>li{
    display: table-cell;
    padding: 0 7px;
    color: rgb(105,105,105);
}
.dates>ul>li>span{
    font-size: 14px;
    font-weight: 300;
}
.dates>ul>li>div{
    font-size: 15px;
    font-weight: 800;
    margin-top: 5px;
}


