#bookpage-container{
    background-color: rgb(244,244,244);
    position: relative;
    width:100%;
    padding-left: 13%;
    padding-top: 50px;
}

/* image modal */
#image-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #000000;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
#modal-img{
    margin: auto;
    margin-top: 50px;
    width: 50%;
}
#close{
    font-size: 17px;
    color: white;
    position:absolute;
    right: 10;
    top: 10;
}


#slider-container{
    width:52%;
}
#image-slider{
    position: relative;
    overflow: hidden;
    transition:white 50s ease-in-out;
}
#image-slider>img{
    width:100%;
    height:450px;
    border-radius: 7px;
    transition:white 50s ease-in-out;
    
}
#left-arrow{
    position: absolute;
    top: 40%;
    left: -43;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 0;
}
#left-arrow>i{
    font-size: 25px;
    margin-top: 18px;
    margin-left: 45px;
    color: white;
}
#right-arrow{
    position: absolute;
    top: 40%;
    right: -40;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 0;
    text-align: center;
}
#right-arrow>i{
    font-size: 25px;
    margin-top: 19px;
    margin-right: 26px;
    color: white;
}

#all-photos{
    position:absolute;
    padding:10px 12px;
    left: 80%;
    bottom: 20;
    font-size: 13px;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.323);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 30px;
}
#all-photos:hover{
    background-color: rgba(0, 0, 0, 0.707);


}
#all-photos::before{
    
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/gallary_icon.webp);
    background-size: cover;
}
#all-photos::after{
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/right_icon_white.png);
    background-size: cover;

}


#booking-details-container{
    width:21%;
    position: fixed;
    right: 11%;
    top:40;
    height:480px;
    border-radius: 5px;
    background-color: white;
}
#booking-scroll-container{
    overflow-x: scroll;
    height: 440px;
}
#booking-scroll-container::-webkit-scrollbar{
    width:5px;
}
#booking-scroll-container::-webkit-scrollbar-thumb{
    background-color:rgb(160,160,160);
}
#booking-details-container>h5{
    margin: 0px;
    padding: 12px 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}
.select-date{
    width:100%;
    margin-top: 10px;
    height: 92px;
    /* overflow: scroll;   */
}
.select-date>h5{
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #202020;
}
.calender{
    width:93%;
    margin: auto;
    box-shadow: 2px 2px 25px 2px rgb(236,236,236);   
}
.month{
    width:13%;
    padding:20px 10px 20px 15px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(43,152,247);
}
.month>span{
    background-color: #0b5b8f;
    color: white;
    margin-top: 5px;
    font-size: 8px;
    padding:2px 6px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.month>img{
    margin-top: 6px;
    width:30px;
    height: 35px;
}
.days{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}
.days>i{
    display: inline-block;
    cursor: pointer;
    
}
.days>div{
    display: inline-block;
    /* transition:black 0.6s ease; */
}

#dates{
    width:84%;
    vertical-align: middle;
    overflow-x: scroll;
}
#dates::-webkit-scrollbar{
    display: none;
}
#dates>ul{
    padding: 0;
    list-style: none;
    display: table;
}
#dates>ul>li{
    display: table-cell;
    padding: 0 7px;
    color: rgb(105,105,105);
}
#dates>ul>li>span{
    font-size: 14px;
    font-weight: 300;
}
#dates>ul>li>div{
    font-size: 15px;
    font-weight: 800;
    margin-top: 5px;
}
.timing-details{
    padding:15px;
}
.timing-details>p{
    margin: 0;
    color: #696969;
    padding-top: 5px;
}
.booking-details{
    padding:15px;
}
div>h5{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #202020;
}

.booking-details>input{
    width:100%;
    padding: 12px;
    color:rgb(159,163,164);
    background-color: rgb(241,241,241);
    margin-bottom: 25px;
    border: 0px solid rgb(241,241,241);
    border-radius: 5px;
}
.booking-details>div>input{
    width:100%;
    padding: 12px;
    color:rgb(159,163,164);
    background-color: rgb(241,241,241);
    margin-bottom: 25px;
    border: 0px solid rgb(241,241,241);
    border-radius: 5px;
}
#email{
    display: none;
}
#request{
    display: none;
}
#email-address,#special-request{
    margin-bottom: 20px;
}
#email-address>i,#special-request>i{
    font-size: 18px;
    background-color: rgb(85, 83, 83);
    border-radius: 50%;
    color: rgb(241,241,241);
}
#email-address>span,#special-request>span{
    font-size: 13px;
}


